section#sponsors.sponsors
  h1 Sponsors
  .large
    each sponsor in sponsors.logo
      div(class="sponsor #{sponsor.logoSizing}")
        a(href="#{sponsor.website}")
          img.svg(src=sponsor.logo.url alt="#{sponsor.name}")
  p.text
    each sponsor,index in sponsors.text
      a.sponsor(href="#{sponsor.website}")= sponsor.name
