.large
  .col
    %a{:href => "https://goldensoundrecords.com/"}
      = image_tag '/img/sponsors/golden_sound.png'
  .col
    %a{:href => "http://www.pitch.com/"}
      = image_tag '/img/sponsors/pitch.png'
  .col
    %a{:href => "http://www.boulevard.com"}
      = image_tag '/img/sponsors/boulevard.png'
  .col
    %a{:href => "http://www.mobank.com"}
      = image_tag '/img/sponsors/mo_bank.png'
  .col
    %a{:href => "http://www.mildredscoffeehouse.com"}
      = image_tag '/img/sponsors/mildreds.png'
  .col
    %a{:href => "http://cremalab.com"}
      = image_tag '/img/sponsors/cremalab.png'
  .col.boveri
    %a.boveri{:href => "http://boverirealty.com"}
  .col.snowCo
    %a.snowCo{:href => "http://www.snowandcompany.com/"}
  .col.alcGroup
.small
  .col.mpress
.text
  %a{href: "http://www.ej4.com"} KC Street Car
  %a{href: "http://www.barkleyus.com/"} Barkley
  %a{href: "http://hinthint.tv"} Hint
  %a{href: 'http://www.artlithocraft.com'} ALC Group
  %a{href: 'http://www.mpresskc.com'} Mpress
  %a{href: "http://www.ej4.com"} ej4
  %a{href: "http://raygunsite.com"} Raygun
  %a{href: "http://kccrossroads.org/members/tail-waggin-petstop-opening-spring-2014"} Tail Waggin' PetStop