- content_for :head do
  %title Crossroads Summer Block Party - Kansas City, Missouri
/ .divider
.main-content
  .row
    .content-header

      %h1.mega Howdy Neighbors!
      .grid
        .col
          :markdown
            Join us June 5th for the Crossroads Summer Block Party presented by [Golden Sound Records](https://goldensoundrecords.com) and [The Pitch](http://www.pitch.com)! Enjoy an evening of [live music](#schedule) from some of the best bands in town, tasty brews, curated art, and friendly neighbors.

            Bring your friends &amp; family to the First Fridays event of 2015 and discover a taste of what makes Kansas City and the Crossroads Arts District one-of-a-kind.
        .col.center= image_tag 'ill/flamingo.svg', id: 'flamingo_main'

      %h4
        %a.sampler-download{:href => 'http://cl.ly/1u3R162u3P0W?_ga=1.194254381.1053839808.1393730635'}
          %i.icon-music
          Download the Crossroads Summer Block Party 2014 Sampler
          %i.icon-music
  .divider.alt
  .row
    #schedule
      %h2 2015 Music Schedule
      .grid
        .col.center= image_tag 'ill/tree.svg', id: 'tree_main'
        .col.list
          %ul#schedule-list
            %li.band
              .name-time
                .name= link_to "My Brothers & Sisters", "http://jorgearanatrio.com/"
                .time 6:00 - 6:30
            %li.band
              .name-time
                .name= link_to "The Yeoman"
                .time 6:45 - 7:15
            %li.band
              .name-time
                .name The Phantastics
                .time 7:30 - 8:00
            %li.band
              .name-time
                .name Ghastly Menace
                .time 8:15 - 8:45
            %li.band
              .name-time
                .name Fullbloods
                .time 9:00 - 9:30
            %li.band
              .name-time
                .name Monta at Odds
                .time 9:45 - 10:15
            %li.band
              .name-time
                .name Your Friend
                .time 10:30 - 11:00
            %li.band
              .name-time
                .name Ill Phonics
                .time 11:15 - 12:00
  .divider
  .row
    #sponsors
      %h2 Sponsors
      %p Thanks to all the awesome neighborhood sponsors that help make the Crossroads Summer Block Party a reality!
      = partial "sponsors"

  .sidebar
    #twitter
      %h3 The Tweets
      = partial "twitter_feed"
    .sponsors
      %h3 Sponsors
      %ul
        = partial "sponsors"






