- content_for :head do
  %title Crossroads Summer Block Party - Kansas City, Missouri
/ .divider
.main-content
  .row
    .content-header

      %h1.mega Howdy Neighbors!
      .grid
        .col
          :markdown
            Join us June 5th for the Crossroads Summer Block Party presented by [Golden Sound Records](https://goldensoundrecords.com) and [The Pitch](http://www.pitch.com)! Enjoy an evening of [live music](#schedule) from some of the best bands in town, tasty brews, curated art, and friendly neighbors.

            Bring your friends &amp; family to the First Fridays event of 2015 and discover a taste of what makes Kansas City and the Crossroads Arts District one-of-a-kind.
        .col.center= image_tag 'ill/flamingo.svg', id: 'flamingo_main'

      %a.sampler-download{href: "/sampler#main"}
        %i.icon-music
        Check out the Crossroads Summer Block Party 2015 Music Sampler
        %i.icon-music
  .divider.alt
  .row
    #schedule
      %h2
        2015 Music Schedule
        %small
          %i.icon-music
          %a{href: '/sampler#main'} Download the Sampler
      .grid
        .col.center= image_tag 'ill/tree.svg', id: 'tree_main'
        .col.list
          %ul#schedule-list
            %li.band
              .name-time
                .name= link_to "My Brothers & Sisters", "http://www.mybrothersandsistersmusic.com"
                .time 6:00 - 6:30
            %li.band
              .name-time
                .name= link_to "Yeomon", "http://yeomon.bandcamp.com"
                .time 6:45 - 7:15
            %li.band
              .name-time
                .name= link_to "The Phantastics", "https://sillygooserecords.wordpress.com/the-phantastics/"
                .time 7:30 - 8:00
            %li.band
              .name-time
                .name= link_to "Ghastly Menace", "http://www.ghastlymenace.com"
                .time 8:15 - 8:45
            %li.band
              .name-time
                .name= link_to "Organized Crimes", "https://theorganizedcrimes.bandcamp.com"
                .time 9:00 - 9:30
            %li.band
              .name-time
                .name= link_to "iLLPHONiCS", "http://www.illphonics.net/"
                .time 9:45 - 10:15
            %li.band
              .name-time
                .name= link_to "Monta at Odds", "https://montaatodds.bandcamp.com"
                .time 10:30 - 11:00
            %li.band
              .name-time
                .name= link_to "Your Friend", "http://yourfriendtaryn.com"
                .time 11:15 - MIDNIGHT

  .divider
  .row
    #sponsors
      %h2 Sponsors
      %p Thanks to all the awesome neighborhood sponsors that help make the Crossroads Summer Block Party a reality!
      = partial "sponsors"

  .row
    #twitter.col
      %h3 The Tweets
      = partial "twitter_feed"
    .col
      %ul.social
        %li= link_to 'Facebook', 'https://www.facebook.com/KCblockparty'
        %li= link_to 'Twitter', 'http://twitter.com/KCBlockParty'





