<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => 'google-site-verification', :content => 'IyhRDmJhRWDdRFJh_2xTB9vvtQ0_D1Q8O44BKI0hmF0'}
    %meta{:property => "og:image", :content => "/img/csbp_2013.png"}
    %meta{:content => "Enjoy an evening of live music, food, and festivities on June 7th to celebrate Kansas City’s culture and its sweltering summers. We’re kicking things off around 6PM on 19th street in the Crossroads Arts District (between Wyandotte and Baltimore).", :name => "description"}
    %meta{:content => "width = 320, initial-scale = 1, user-scalable = yes", :name => "viewport"}
    / Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag "site.css"
    %script{:charset => "utf-8", :src => "/js/site.js", :type => "text/javascript"}
    = javascript_include_tag 'modernizr.custom.js'
    / %script{:charset => "utf-8", :src => "/js/css3-mediaqueries", :type => "text/javascript"}
    = yield_content :head
  %body{:class => page_classes}
    = partial "header" 
    %section#main
      .row
        = yield
    #footer-topBorder
    %footer
      .row
        = partial "footer" 
    = partial "analytics"
