.main-content.sampler{name: "main"}
  .row
    %h2 Crossroads Summer Block Party Sampler
    %p=" Brought to you by #{link_to 'Missouri Bank', 'http://www.mobank.com'}, #{link_to 'Dog Pawz', 'http://dogpawz.com'}, and #{link_to "Mildred's", 'http://www.mildredscoffeehouse.com'}"

    %p= image_tag 'CSBP2015sampler_orig.jpg'
    %h4
      Get a feel for what you'll be hearing on Friday, July 3rd at the Crossroads Summer Block Party and enjoy these free tracks by local Kansas City artists.

    %h4
      %a.sampler-download{:href => "http://cl.ly/2O3N1i2b1W2n/download/CSBP2015_sampler.zip"}
        %i{:class => 'icon-download'}
        Download the sampler (.zip file of mp3s)

    #music_player

  .divider
  .row
    #sponsors
      %h2 Sponsors
      %p Thanks to all the awesome neighborhood sponsors that help make the Crossroads Summer Block Party a reality!
      = partial "sponsors"